@media screen and (min-width: 600px) {
  }
  .logo h1{
    font-family: 'Lobster', cursive;
    color:#fff;
    padding-top: 90px;
    padding-left: 30px;
  }
.navbar a {
  text-decoration: none;
    color: white;
}
.navbar a:hover {
  border-bottom: 3px solid white;
}
.nav {
  float: right;
  margin-top: -60px;
}
.navbar li {
  vertical-align: top;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 15px;

}
body{
  background: black;
}

/*Navigation*/

.full-width{
    background: #27ae60;
    max-width: 100% !important;
  }
.row{
      margin: 0 auto;
      max-width: 62.5rem;
      /*background: grey;*/
      background-image: url(../images/imageedit__7648766554.jpg);
      width: 100%;
      height: 500px;
      margin-top: -20px;
    }
